* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #50E9A1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #50E9A1;
    box-shadow: #50E9A1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
}

.hero {
    text-align: left;
    padding: 100px 50px;
}

.content {
    max-width: 800px;
    margin: 0 left;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.download-btn {
    background-color: white;
    color: #333;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #10CD75;
}


.nav-download-btn {
    background-color: #333; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

.nav-download-btn:hover {
    background-color: #10CD75; 
}